<div class="navigation">
  <p class="navigation-title">自选</p>
  <img src="../../assets/images/search1.png" alt="" class="search" (click)='goto()'>
</div>
<div class="empty">
  <img src="../../assets/images/add.png" alt="" (click)='goto()'>
  <p>暂无股票，点击添加</p>
</div>
<div class="notempty cclb">
  <table cellspacing="0" cellpadding="0">
    <tr>
      <td>
        名称代码
      </td>
      <td>
        最新
      </td>
      <td>
        涨幅
      </td>
      <td>
        涨跌
      </td>
    </tr>
    <tr>
      <td>
        <p>
          反对法士大夫
        </p>
        <p>
          404434
        </p>
      </td>
      <td>
        10.33
      </td>
      <td>
        10.33
      </td>
      <td>
        10.33
      </td>
    </tr>
  </table>
</div>