.footer {
    display: flex;
    text-align: center;
    position: fixed;
    bottom: 0;
    z-index: 10;
    background: #fff;
    height: 48px;
    border-top: solid 1px #e6e6e6;
    width: 100vw;
}

.footer-div {
    flex: 1;
    padding-top: 6px;
}


.footer-div p {
    font-size: .8rem;
    margin-top: 4px;
    color: #898989;
}

.icon{
    width: 20px;
    height: 20px;
    margin: auto;
    background: url(../../assets/images/hangqing.png) no-repeat;
    background-size: 194%;
    background-position: -9px -9px;
}

.zixuan{
    background: url(../../assets/images/zixuan1.png) no-repeat;
    background-size: 194%;
    background-position: -9px -9px;
}

.geren{
    background: url(../../assets/images/gerem.png) no-repeat;
    background-size: 194%;
    background-position: -9px -9px;
}

.jiaoyi{
    background: url(../../assets/images/jiaoyi.png) no-repeat;
    background-size: 194%;
    background-position: -9px -9px;
}

.icon-active .icon{
    background-position: -9px -48px;
}

.icon-active p{
    background: linear-gradient(to right top, #ff0036, #ff9102);
    -webkit-background-clip: text;
    color: transparent;
}