<div class="chedang-div">
    <div>
        <p>
            50000.00
        </p>
        <p>
            总资金
        </p>
    </div>
    <div>
        <p>
            0.00
        </p>
        <p>
            冻结资金
        </p>
    </div>
</div>
<div class="chedang-div">
    <div>
        <p>
            50000.00
        </p>
        <p>
            股票市值
        </p>
    </div>
    <div>
        <p>
            0.00
        </p>
        <p>
            可用资金
        </p>
    </div>
</div>
<div class="cclb">
    <table cellspacing="0">
        <tr>
            <td>
                名称/代码
            </td>
            <td>
                委托/均价
            </td>
            <td>
                委托/成交
            </td>
            <td>
                时间/状态
            </td>
        </tr>
    </table>
</div>