.head {
    width: 65px;
    border-radius: 90px;
    float: left;
}

.header {
    text-align: center;
    background: #b00e23;
    color: #fff;
    padding: 15px;
    height: 80px;
}

.name {
    float: left;
    margin-top: 22px;
    margin-left: 20px;
    font-size: 1.2rem;
}

.menuList {
    display: flex;
    text-align: center;
    background: #fff;
    width: 100vw;
    box-shadow: 0px 5px 8px 1px rgba(217, 217, 217, 0.27);
}

.footer-div {
    flex: 1;
    padding-top: 13px;
}

.footer-div p {
    font-size: .9rem;
    margin-top: 4px;
    color: #898989;
}

.icon {
    width: 26px;
    height: 26px;
    margin: auto;
    background: url(../../assets/images/menulist.png) no-repeat;
    background-size: 873%;
    background-position: -11px -10px;
    margin-bottom: 4px;
}

.sell {
    background-position: -55px -10px;
}

.chedan {
    background-position: -99px -10px;
}

.chicang {
    background-position: -146px -10px;
}

.search {
    background-position: -192px -10px;
}

.cszj {
    width: 94%;
    border-radius: 5px;
    margin: 10px 3%;
    background: #fff;
    font-size: 1rem;
    padding: 5px 0;
}

.cszj p {
    margin-left: 30px;
}

.cszj img {
    float: right;
    width: 51px;
    position: relative;
    margin-top: -62px;
    margin-right: 30px;
}

.kyzj {
    display: flex;
    width: 94%;
    border-radius: 5px;
    margin: 10px 3%;
    background: #fff;
    font-size: 1rem;
    padding: 5px 0;
    margin-bottom: 20px;
}

.kyzj div {
    flex: 1;
}

.kyzj div p{
    margin-left: 30px;
}

.kyzj div:last-child{
    border-left: solid 1px #e0e0e0;
}

.logout{
    font-size: 1rem;
    margin-right: 20px;
    position: relative;
    float: right;
}