<!-- <div class="navigation">
  搜索股票
  <span (click)='close()' class="close">关闭</span>
</div> -->
<div class="search-bar">
  <div>
    <img src="../../assets/images/search.png" alt="">
    <input type="text" placeholder="搜索股票代码/首字母" autofocus>
  </div>
  <span class="cancel" (click)='close()'>取消</span>
</div>
<div class="main-content">
  <div class="content-flex">
    <div class="flex-1">
      00000000
    </div>
    <div class="flex-2">
      发射点发射点发
    </div>
    <div class="flex-3">
      <div class="add-btn">
        添加
      </div>
    </div>
  </div>
  <div class="content-flex">
    <div class="flex-1">
      00000000
    </div>
    <div class="flex-2">
      发射点发射点发
    </div>
    <div class="flex-3">
      <div class="add-btn">
        添加
      </div>
    </div>
  </div>
  <div class="content-flex">
    <div class="flex-1">
      00000000
    </div>
    <div class="flex-2">
      发射点发射点发
    </div>
    <div class="flex-3">
      <div class="add-btn">
        添加
      </div>
    </div>
  </div>
</div>