<div class="login-div">
  <img class="logo" src="../../assets/images/login.jpg" alt="">
  <div class="input-div">
    <p class="title">投顾端</p>
    <div class="login-input">
      <img src="../../assets/images/user.png" alt="">
      <input type="text" placeholder="用户账号" [(ngModel)]='phone'>
    </div>
    <div class="login-input">
      <img src="../../assets/images/pwd.png" alt="">
      <input type="password" placeholder="登录密码" [(ngModel)]='password'>
    </div>
    <button class="login-btn" (click)='login()'>登录</button>
    <div class="bottom-div">
    
    </div>
  </div>

</div>