<div class="fenshi-div" *ngIf="showChart">
	<p class="shifen">最新价：{{stockHQ.lastPrice | toFixed}} <span [class]='color(stockHQ.upDiff)'>{{stockHQ.upDiff}}</span>
		<span [class]='color(stockHQ.upRatio)'>{{stockHQ.upRatio}}</span></p>
	<!-- <canvas style="margin-left:10px;" id="trendLine"></canvas> -->
</div>
<div class="fenshi-div2" *ngIf="showChart">
	<p class="shifen2">
		<span *ngFor="let item of chartTypeList" [class]='item.type == chartType?"active":""'
			(click)='changeType(item.type)'>{{item.name}}</span>
	</p>
	<!-- <canvas style="margin-left:10px;" id="trendLine"></canvas> -->
	<div id="chart"></div>
</div>
<div class="content">
	<div class="left-div {{classType}}">
		<div>
			<input class="input" (keyup)='getQuotation()' maxlength="6" type="text" placeholder="股票代码/首字母"
				[(ngModel)]='stockCode'>
			<span class="gpmc">{{stockName}}</span>
		</div>
		<div class="search-div" [@showDelete]="show">
			<div (click)='selectGP(a)' *ngFor='let a of list'>
				<div>
					<span>{{a.stockCode}}</span>
				</div>
				<div>
					<span>{{a.stockName}}</span>
				</div>
				<div>
					<span>{{a.pinYin}}</span>
				</div>
			</div>
		</div>
		<div class="add-down">
			<div class="down" (click)='count(-1)'>-</div>
			<input class="input" type="number" placeholder="{{text}}价" [(ngModel)]='appointPrice'
				style="text-align: center">
			<div class="add" (click)='count(1)'>+</div>
		</div>
		<div class="green-red">
			<span class="green" (click)='selectPrice(stockHQ.lowPrice)'>跌停 {{stockHQ.lowPrice | toFixed}}</span>
			<span class="red" (click)='selectPrice(stockHQ.highPrice)'>涨停 {{stockHQ.highPrice | toFixed}}</span>
		</div>
		<div>
			<input class="input" type="number" placeholder="{{text}}量" [(ngModel)]='appointCnt' (keyup)='inputCnt()'>
			<span class="gpmc">可{{text2}}{{fullcount}}股</span>
		</div>
		<div class="four-btn">
			<div class="{{ccount === 'full'?'four-btn-active':''}}" (click)='selectCount("full")'>全仓</div>
			<div class="{{ccount === 'half'?'four-btn-active':''}}" (click)='selectCount("half")'>半仓</div>
			<div class="{{ccount === '1/3full'?'four-btn-active':''}}" (click)='selectCount("1/3full")'>1/3仓</div>
			<div class="{{ccount === '1/4full'?'four-btn-active':''}}" (click)='selectCount("1/4full")'>1/4仓</div>
		</div>
		<div class="buy">
			<div (click)='buy()'>{{text}}</div>
			<div class="clear" (click)='clear()'>清空</div>
		</div>
	</div>
	<div class="right-div">
		<p (click)='selectPrice(stockHQ.sellLevel.sellPrice05)'>
			<span>卖5</span>
			<span class="{{HQColor(stockHQ.sellLevel.sellPrice05)}}">{{stockHQ.sellLevel.sellPrice05 | toFixed}}</span>
			<span>{{stockHQ.sellLevel.sellVolume05 | numInt}}</span>
		</p>
		<p (click)='selectPrice(stockHQ.sellLevel.sellPrice04)'>
			<span>卖4</span>
			<span class="{{HQColor(stockHQ.sellLevel.sellPrice04)}}">{{stockHQ.sellLevel.sellPrice04 | toFixed}}</span>
			<span>{{stockHQ.sellLevel.sellVolume04 | numInt}}</span>
		</p>
		<p (click)='selectPrice(stockHQ.sellLevel.sellPrice03)'>
			<span>卖3</span>
			<span class="{{HQColor(stockHQ.sellLevel.sellPrice03)}}">{{stockHQ.sellLevel.sellPrice03 | toFixed}}</span>
			<span>{{stockHQ.sellLevel.sellVolume03 | numInt}}</span>
		</p>
		<p (click)='selectPrice(stockHQ.sellLevel.sellPrice02)'>
			<span>卖2</span>
			<span class="{{HQColor(stockHQ.sellLevel.sellPrice02)}}">{{stockHQ.sellLevel.sellPrice02 | toFixed}}</span>
			<span>{{stockHQ.sellLevel.sellVolume02 | numInt}}</span>
		</p>
		<p (click)='selectPrice(stockHQ.sellLevel.sellPrice01)'>
			<span>卖1</span>
			<span class="{{HQColor(stockHQ.sellLevel.sellPrice01)}}">{{stockHQ.sellLevel.sellPrice01 | toFixed}}</span>
			<span>{{stockHQ.sellLevel.sellVolume01 | numInt}}</span>
		</p>
		<p class="line"></p>
		<p (click)='selectPrice(stockHQ.buyLevel.buyPrice01)'>
			<span>买1</span>
			<span class="{{HQColor(stockHQ.buyLevel.buyPrice01)}}">{{stockHQ.buyLevel.buyPrice01 | toFixed}}</span>
			<span>{{stockHQ.buyLevel.buyVolume01 | numInt}}</span>
		</p>
		<p (click)='selectPrice(stockHQ.buyLevel.buyPrice02)'>
			<span>买2</span>
			<span class="{{HQColor(stockHQ.buyLevel.buyPrice02)}}">{{stockHQ.buyLevel.buyPrice02 | toFixed}}</span>
			<span>{{stockHQ.buyLevel.buyVolume02 | numInt}}</span>
		</p>
		<p (click)='selectPrice(stockHQ.buyLevel.buyPrice03)'>
			<span>买3</span>
			<span class="{{HQColor(stockHQ.buyLevel.buyPrice03)}}">{{stockHQ.buyLevel.buyPrice03 | toFixed}}</span>
			<span>{{stockHQ.buyLevel.buyVolume03 | numInt}}</span>
		</p>
		<p (click)='selectPrice(stockHQ.buyLevel.buyPrice04)'>
			<span>买4</span>
			<span class="{{HQColor(stockHQ.buyLevel.buyPrice04)}}">{{stockHQ.buyLevel.buyPrice04 | toFixed}}</span>
			<span>{{stockHQ.buyLevel.buyVolume04 | numInt}}</span>
		</p>
		<p (click)='selectPrice(stockHQ.buyLevel.buyPrice05)'>
			<span>买5</span>
			<span class="{{HQColor(stockHQ.buyLevel.buyPrice05)}}">{{stockHQ.buyLevel.buyPrice05 | toFixed}}</span>
			<span>{{stockHQ.buyLevel.buyVolume05 | numInt}}</span>
		</p>
	</div>
</div>
<div>
	<app-cclb></app-cclb>
</div>
<div class="submit-alert" *ngIf='submitAlert'>
	<div class="alert-div">
		<p>
			{{text}}确认
		</p>
		<p>
			账户：
			<span>{{userName}}</span>
		</p>
		<p>
			名称：
			<span>{{stockName}}</span>
		</p>
		<p>
			代码：
			<span>{{stockCode}}</span>
		</p>
		<p>
			数量：
			<span>{{appointCnt}}</span>
		</p>
		<p>
			委托价：
			<span>{{appointPrice}}</span>
		</p>
		<button class="submit-btn" (click)='submintBuy()'>
			确认
		</button>
		<br>
		<button class="cancel-btn" (click)='closeAlert()'>
			取消
		</button>
	</div>
</div>
