<div class="cclb">
	<table cellspacing="0">
		<tr>
			<td>
				名称
			</td>
			<td>
				参考盈亏
			</td>
			<td>
				持仓/可用
			</td>
			<td>
				参考成本/现价
			</td>
		</tr>
		<tr *ngFor='let a of list'>
			<td>
				{{a.stockName}}
			</td>
			<td class="{{a.profit < 0?'green':'red'}}">
				{{a.profit}}
			</td>
			<td>
				<p>
					{{a.stockCnt}}
				</p>
				<p>
					{{a.stockCntAble}}
				</p>
			</td>
			<td>
				<p>
					{{a.costPrice}}
				</p>
				<p>
					{{a.lastPrice}}
				</p>
			</td>
		</tr>
	</table>
</div>