/* You can add global styles to this file, and also import other style files */

html, body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: '微软雅黑';
    color: rgb(39, 39, 39);
}

.navigation {
    position: relative;
    top: 0;
    width: 100vw;
    text-align: center;
    height: 48px;
    line-height: 48px;
    background: #b00e23;
    color: #fff;
    font-size: 1.2rem;
}

.main-content {
    height: calc(100vh - 94px);
    background: rgb(243, 243, 243);
    overflow-y: auto;
}

.chedang-div {
    background: #fff;
    text-align: center;
    display: flex;
    font-size: 1.1rem;
    margin-top: 10px;
    border-bottom: solid 1px #efefef;
}

.navigation-title {
    margin: 0;
    position: absolute;
    width: 100vw;
}

.alert {
    bottom: 100px;
    position: fixed;
    z-index: 0618;
    background: rgba(70, 70, 70, 0.8);
    width: 80%;
    left: 10%;
    height: 40px;
    border-radius: 7px;
    line-height: 40px;
    color: #fff;
    text-align: center;
}

table td p {
    margin: 5px 0;
    font-size: .9rem;
}

.search-div {
    position: absolute;
    width: 100%;
    background: #f9f9f9;
    border-top: solid 1px #ececec;
    margin-top: -11PX !important;
    margin-left: -6px !important;
    height: 400px;
    z-index: 0617;
    overflow-y: auto;
}

.search-div div {
    display: flex;
    border-bottom: solid 1px #ececec;
    margin: 0 !important;
    height: 40px;
    line-height: 40px;
}

.search-div div div {
    flex: 1;
}

.search-div div div span {
    margin: auto;
}

.loading {
    position: fixed;
    z-index: 0618;
    height: 100vh;
    width: 100vw;
    top: 0;
    text-align: center;
}

.red {
    color: #b00e23 !important;
}

.green {
    color: green !important;
}

.submit-alert {
    width: 100vw;
    height: 100vh;
    z-index: 0618;
    position: fixed;
    top: 0;
    background: rgba(0, 0, 0, 0.66);
}

.alert-div {
    background: #fff;
    width: 85%;
    margin-left: 7%;
    margin-top: 30%;
    border-radius: 5px;
}

.alert-div p {
    margin-left: 6%;
    font-size: 1.2rem;
    color: #333;
}

.alert-div p:nth-child(1) {
    font-size: 1.4rem;
    text-align: center;
    padding: 30px 0;
    margin-left: 0;
    font-weight: bold;
    padding-bottom: 15px;
}

.submit-btn {
    width: 90%;
    margin-left: 5%;
    height: 43px;
    color: #fff;
    background: #b00e23;
    border: solid 1px #b00e23;
    border-radius: 5px;
    margin-top: 20px;
    font-size: 1.2rem;
    outline: none;
}

.cancel-btn {
    width: 90%;
    margin-left: 5%;
    height: 43px;
    color: #000;
    background: #F8F8F8;
    border: solid 1px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 20px;
    outline: none;
    font-size: 1.2rem;
}

.alert-div p span{
    margin-left: 30px;
    color: #353535;
}

.icon4{
    background: url('./assets/images/icon.png') no-repeat;
    height: 36px;
    width: 36px;
    background-size: 400% 100%;
    float: left;
    position: absolute;
    margin-left: 20px;
    margin-top: 15px;
}

.djzj{
    background-position-x: -71px;
}

.gpsz{
    background-position-x: -37px;
}

.kyzj{
    background-position-x: -106px;
}