<div class="search-head">
	<p class="search-title">当日委托</p>
	<div class="search-content">
		<div>
			<p>
				起始时间
			</p>
			<p>
				2018-05-25
			</p>
		</div>
		<div>
			<img class="right" src="../../assets/images/right.png" alt="">
		</div>
		<div>
			<p>
				截至时间
			</p>
			<p>
				2018-05-25
			</p>
		</div>
	</div>

</div>
<div class="cclb">
	<table cellspacing="0">
		<tr>
			<td>
				名称/代码
			</td>
			<td>
				标志/时间
			</td>
			<td>
				委托/成交价
			</td>
			<td>
				委托/成交量
			</td>
		</tr>
	</table>
</div>